body{
    background-color: #f6f6f6;
}

.formulaire{
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-left: 400px;
    margin-top: 100px; 
}

h4{
    color: #777171;
}

.inscrire{
    background-color: #235182;
    color: white;
    border: none;
    width: 100px;
    height: 35px;
    margin-left: 300px;
    border-radius: 3px;
}
a{
    color: rgb(0, 0, 0);
}

input{
    height: 30px;
    border: 1px black solid;
}
.test{
  display: flex;
}

#nom{
    margin-left: 110px;
}
#tel{
    width: 440px;
    height: 30px;
    border: 1px black solid;
}
#email{
    width: 440px;
    height: 30px;
    border: 1px black solid;
}